/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT distinct
      [Application]
      ,[UserName]
    ,max([DateStart]) as MaxDateStart
  FROM [CAD_REVIT_STATISTICS].[dbo].[C_PluginStatistic]

  where Application like '%autocad 2017% run' and
  DateStart >= '20191211' and 
  DateStart < '2020'

group by Application, UserName
order by MaxDateStart DESC

